In [4]:
import pandas as pd

In [5]:
data = pd.read_csv('uefa.csv')

In [6]:
data.head()

,year,code,name,round,league,region,decade,superliga,city,areacode,metropol,pop,gdp,country,eurostat,ecb,cowc,cown
0,1981,LIV,Liverpool FC,W,England,Big 5,1980s,Yes,Liverpool,UK006,Liverpool,1533860.0,50484.0,United Kingdom,UK,GB,UKG,200.0
1,1981,MAD,Real Madrid CF,RU,Spain,Big 5,1980s,Yes,Madrid,ES001,Madrid,6791667.0,342534.0,Spain,ES,ES,SPN,230.0
2,1981,BMN,FC Bayern,SF,Germany,Big 5,1980s,No,München,DE003,Munich,2883373.0,241407.0,Germany,DE,DE,GMY,255.0
3,1981,INT,FC Inter Milan,SF,Italy,Big 5,1980s,Yes,Milano,IT002,Milan,5145657.0,301366.0,Italy,IT,IT,ITA,325.0
4,1981,BEL,Red Star,QF,Serbia,East,1980s,No,Belgrade,Belgrade,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
data.shape

(328, 18)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 328 entries, 0 to 327
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   year       328 non-null    int64
 1   code       328 non-null    object
 2   name       328 non-null    object
 3   round      328 non-null    object
 4   league     328 non-null    object
 5   region     328 non-null    object
 6   decade     328 non-null    object
 7   superliga  328 non-null    object
 8   city       328 non-null    object
 9   areacode   328 non-null    object
 10  metropol   294 non-null    object
 11  pop        294 non-null    float64
 12  gdp        289 non-null    float64
 13  country    319 non-null    object
 14  eurostat   319 non-null    object
 15  ecb        319 non-null    object
 16  cowc       319 non-null    object
 17  cown       319 non-null    float64
dtypes: float64(3), int64(1), object(14)
memory usage: 46.3+ KB

In [9]:
data.describe()

              year           pop            gdp        cown
count   328.000000  2.940000e+02     289.000000  319.000000
mean   2001.000000  4.502595e+06  231375.318339  264.592476
std      11.850238  3.703125e+06  220342.517591   76.018390
min    1981.000000  2.760970e+05    8056.000000  200.000000
25%    1991.000000  1.760085e+06   76575.000000  220.000000
50%    2001.000000  3.097965e+06  206526.000000  230.000000
75%    2011.000000  5.145657e+06  284400.000000  325.000000
max    2021.000000  1.546245e+07  913737.000000  640.000000

In [10]:
data['country'].nunique()

24

In [11]:
data['country'].unique()

array(['United Kingdom', 'Spain', 'Germany', 'Italy', nan, 'Russia',
       'Czechia', 'Bulgaria', 'Belgium', 'Romania', 'Ukraine', 'Poland',
       'Portugal', 'Austria', 'Belarus', 'France', 'Greece', 'Sweden',
       'Finland', 'Turkey', 'Denmark', 'Netherlands', 'Croatia', 'Norway',
       'Cyprus'], dtype=object)